
<!--js-->
<script scr="/javascripts/jquery-3.1.1.min.js"></script>
<script scr="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/scripts.js"></script>
<footer>
  &copy; 2016
</footer>

</body>
</html>
