<!DOCTYPE html>
  <html>
<head>
<title><%= title%></title>
</head>


  <link type="text/css" rel="stylesheet"
  href="/stylesheets?bootstrap.min.css" />

  <link type="text/css" rel="stylesheet"
      href="/stylesheets/bootstrap-theme.min.css" />
  <body>
      <nav class ="nav navbar-default">
        <ul>
          <il><a href="/">Home</a></li>
          <il><a href="/teams">Teams</a></li>
        </ul>
      </nav>
